@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202124;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Google Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;

}

.landing-container {
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column;
  border: 2px solid rgb(255, 1, 1); /* Add a border to the container */
  position: relative;
  margin-top: 1rem;
}



h1 {

  margin-top: 1rem;
  font-size: 2rem;
  font-family: "Roboto Condensed", serif;
  font-weight: 500;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;




.icon-pic {
  transition: scale 0.3s;
}

.icon-pic:hover {
  scale: 1.2;
}



}

#landing { 
  flex-grow: 1; /* Allow h1 to take up remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#arrowdown {
  border: 0px solid black;
  border-radius: 100%;
  background-color: transparent;
  padding: 1vh;
  margin-top: auto;

}

#arrowdown:hover {
  
  background-color: #000000;
  transition: background-color 0.3s;
}


hr {
  width: 100vw;
}