@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202124;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Google Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

h1 {

  margin-top: 1rem;
  font-size: 2rem;
  font-family: "Roboto Condensed", serif;
  font-weight: 500;

}


.highlight { 
  /* background-color: yellow; */
  color: maroon;
}